<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantilla/template::head}">
  <meta charset="UTF-8">
  <title>Inicio</title>

</head>
<body>
<header th:replace="~{plantilla/template::header}"></header>
<div class="container">
    <h2>Confirmación de datos del empleado</h2>
   <p>Nombre: <span th:text="${formulario.build().nombre}"></span></p>
    <p>Edad: <span th:text="${formulario.build().edad}"></span></p>
</div>
<footer th:replace="~{plantilla/template::footer}"></footer>
</body>
</html>